.aboutme-font{
    font-size: 12px;
    font-weight: 400;
}
.col .aboutme-font{
    display: flex;
    flex-wrap: flex;
}
.figure-bg{
    background-color: #AFB9C7;
}
.col .col-md-12 .figure-bg{
    margin-left: -12px;
    margin-right: -12px;
}
.badge{
    background-color: red;
}