body{
    width:80%;
    margin:auto;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:cetner;
    text-align:center;
    background-color:#27B5B8;
}
button{
    height:100px; 
    margin-bottom:15px; 
    background-color:#EBCA1A; 
    font-size:18px
}
#myname{
    color:white;
}