/*---- Common ----*/
body {
  font-family: 'Lobster';
}
.section-title {
  font-size: 32px;
  font-weight: 600;
}

/*---- Menu ----*/

/*---- Hero Section ----*/
.hero-section {
  background-image: url('../images/hero-background.jpg'); /* Photo by Nicholas Kampouris on Unsplash */
  background-size: cover;
  background-position: center center;
  font-size: 64px;
  font-weight: 600;

}

/*---- Collection Section ----*/
.collection-item-title{
  font-size: 20px;
  font-weight: 600;
}
.collection-item {
  background-size: cover;
  background-position: 50% 82%;
}

.collection-item-one {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.9), rgba(0, 0, 0, 0.1)),
    url('../images/classic-collection.jpg'); /* Photo by NordWood Themes on Unsplash */
}

.collection-item-two {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.2)
    ),
    url('../images/sport-collection.jpg'); /* Photo by Tom Radetzki on Unsplash */
}

.collection-item-three {
  background-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.3)
    ),
    url('../images/sandal-collection.jpg'); /* Photo by Andy Garza on Unsplash */
}

.collection-item-four {
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.2)),
    url('../images/casual-collection.jpg'); /* Photo by Trendest Studio on Unsplash */
}

/*---- Product Section ----*/
.product-item-tile{
  font-size: 18px;
  font-weight: 600;
}
/*---- About Section ----*/
